.sendbird-message-content-menu__reaction-menu {
    display: none;
}

.sendbird-conversation__footer {
    padding-bottom: 0 !important;
}

.sendbird-theme--light {
    margin: 0 !important;
}

.sendbird-conversation__footer {
    margin: 0 !important;
}

/*.sendbird-conversation {*/
/*    height: 640px !important;*/
/*}*/

/*#root {*/
/*    height: 640px !important;*/
/*}*/