.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0, 0.3);
    padding: 0;
    z-index: 10;
}

.highlighted {
    z-index: 15;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    width: 38px;
    height: 38px;
    /*transform: translate(calc(-50% + 10px), calc(-50% - 13px));*/
    right: 13px;
    bottom: 11px;
}

.highlighted-icon {
    position: relative;
    z-index: 16;
}

.modal-text-container {
    position: absolute;
    transform: translate(0, calc(-50% - 26px));
    right: 100px;
    z-index: 15;
}

.modal-text {
    font-family: var(--sendbird-font-family-default);
    position: relative;
    width: 280px;
    background-color: white;
    word-wrap: break-word;
    padding : 18px 26px;
    line-height: 1em;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

.pointer {
    position: absolute;
    border: solid 10px transparent;
    border-left-color: #fff;
    margin: -20% 0 0 100%;
}