.pinned-message {
    font-family: var(--sendbird-font-family-default);
    position: absolute;
    bottom: -72px;
    z-index: 5;
    width: calc(100% - 48px);
    transform: translateX(24px);
    cursor: pointer;
    background: #FFF7DA;
    border-radius: 4px;
}

.pinned-message-inner {
    display: flex;
    column-gap: 6px;
    font-size: 14px;
    line-height: 1.4em;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 16px;
}

.pin-icon {
    margin-top: 2px;
    width: 16px;
    height: 16px;
}