.typing-indicator {
    margin: 0 10px 0 24px;
    color: var(--sendbird-light-onlight-02);
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    font-family: var(--sendbird-font-family-default);
}


